<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>This is a hello world Rails application for learning Ruby on Rails.</p>
  <p id="btn-home"><%= link_to "Learn more", about_path, class: "btn btn-danger btn-lg" %></p>
</div>
